{
  "extends": "fbjs",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "indent": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "one-var": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "no-template-curly-in-string": "off",
    "prefer-template": "off",
    "no-undef": "off",
    "comma-dangle": "off",
    "no-throw-literal": "off",
    "max-len": "off"
  }
}
